/*BUTTON*/

#infoBtnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
  transition: 0.3s;
}

#infoBtnBox .chains {
  top: -15px;
}

#a {
  position: relative;
  height: 60px;
  top: -20px;
  transform: rotate(180deg);
  z-index: 3;
}

#lightSourceBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -58px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 2;
}

#lightSource {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transition: 0.3s;
}

/*SCREEN*/

#helpScreen {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: calc(100% - 10px);
  width: 100%;
  filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

/*HELP MENU*/

#helpMenuBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  height: calc(100% - 10px);
  color: black;
  width: 100%;
  text-align: centers;
}

.helpMenu {
  min-width: 275px;
  width: 80%;
  max-width: 800px;
  padding: 20px 50px;
  border-radius: 15px;
  background-color: rgb(210, 210, 210);
  z-index: 1;
}

#helpMenuBox div h3 {
  font-size: 25px;
  padding-bottom: 5px;
}

#infoBox {
  max-height: 300px;
  overflow-y: auto;
  padding: 0 5px;
}

#infoBox::-webkit-scrollbar {
  width: 12px;
}

#infoBox::-webkit-scrollbar-thumb {
  box-shadow: inset 2px 3px 5px 2px rgb(190, 190, 190);
  border-radius: 10px;
  background-color: rgb(140, 140, 140);
}

.informacije {
  font-size: 22px;
  margin: 15px 0;
}

#zaslugaBox {
  max-width: 450px;
}

.zasluga {
  font-size: 20px;
  margin: 10px 0;
}

.zasluga p {
  margin: 0;
}

/*ANIMACIJA*/

.swingBulb {
  position: absolute;
  top: 5px;
  left: 3%;
  animation: swingBulb 5s ease infinite;
  transform-origin: center -50px;
  z-index: 2;
}

@keyframes swingBulb {

  0%,
  100% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }
}