.accPage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3%;
    height: 100%;
    width: 100%;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

/*SETTINGS*/

.settingsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h4 {
    font-size: 25px;
    font-weight: 900;
    margin: 15px 0 0;
}

.avatarBox {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 150px;
    width: 150px;
    max-height: 100%;
    max-width: 100%;
    border: 10px solid black;
    border-radius: 50%;
    background-color: gold;
}

.avatarBox img {
    max-width: 100%;
    max-height: 100%;
}

#picCngBtnBox {
    display: flex;
    gap: 15px;
}

input {
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 5px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 5px;
    padding: 0 15px;
    outline: none;
}

input:focus {
    border: 2px solid rgb(50, 50, 50);
}

/*INFO*/

.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin: 5px;
    font-size: 23px;
    font-weight: 800;
}

.boardLine {
    height: 5px;
    width: 40vw;
    min-width: 250px;
    max-width: 300px;
    background-color: black;
}

#pastGamesBox {
    width: 30vw;
    min-width: 325px;
    margin: 20px 0 30px;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-radius: 20px;
    padding: 0 10px;
}

#pastGames {
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    height: 275px;
    padding: 0 10px;
}

.pastGame {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.pastGame p {
    margin: 8px 0;
}

.pastGame p:nth-child(2) {
    width: 100%;
    border-bottom: 4px dotted black;
}

.boardIcon {
    max-width: 23px;
}

/*SCROLLBAR*/

#pastGames::-webkit-scrollbar {
    width: 12px;
}

#pastGames::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.scrollDay::-webkit-scrollbar-thumb {
    box-shadow: inset 2px 3px 6px 2px rgb(77, 219, 255);
    background-color: rgb(0, 84, 186);
}

.scrollNight::-webkit-scrollbar-thumb {
    box-shadow: inset 2px 3px 5px 2px rgb(255, 235, 120);
    background-color: rgb(160, 99, 0);
}