.accPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
}

/*SETTINGS*/

.settingsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h4 {
    font-size: 25px;
    font-weight: 900;
    margin: 15px 0 0;
}

.avatarBox {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 150px;
    width: 150px;
    max-height: 100%;
    max-width: 100%;
    border: 10px solid black;
    border-radius: 50%;
    background-color: gold;
}

.avatarBox img {
    max-width: 100%;
    max-height: 100%;
}

#picCngBtnBox {
    display: flex;
    gap: 15px;
}

input {
    display: block;
    height: 35px;
    width: 240px;
    margin: 5px auto 0;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    border-radius: 5px;
}

/*INFO*/

.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin: 5px;
    font-size: 23px;
    font-weight: 800;
}

.boardLine {
    height: 5px;
    width: 40vw;
    min-width: 250px;
    max-width: 300px;
    background-color: black;
}

#pastGamesBox {
    height: 250px;
    width: 30vw;
    min-width: 275px;
    overflow-y: auto;
    margin: 5px 0 25px;
    border-radius: 5px;
    padding: 10px 10px 10px 20px;
}

.pastGame {
    display: flex;
    gap: 15px;
    max-height: 600px;
}

.pastGame p {
    font-size: 20px;
    margin: 7px 0;
}

.pastGame p:nth-child(1) {
    align-self: flex-start;
}

.pastGame p:nth-child(2) {
    width: 100%;
    border-bottom: 4px dotted black;
}

.boardIcon {
    max-width: 25px;
}

/*SCROLLBAR*/

#pastGamesBox::-webkit-scrollbar {
    width: 10px;
}

#pastGamesBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.scrollDay::-webkit-scrollbar-thumb {
    box-shadow: inset 2px 3px 6px 2px rgb(77, 219, 255);
    background-color: rgb(0, 84, 186);
}

.scrollNight::-webkit-scrollbar-thumb {
    box-shadow: inset 2px 3px 5px 2px rgb(255, 235, 120);
    background-color: rgb(160, 99, 0);
}