.Game {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-top: 5vh;
}

h3 {
  font-size: 30px;
  margin: 10px 0 0;
}

p {
  font-size: 22px;
}

.lettersBox {
  display: flex;
  justify-content: center;
  height: 50px;
}

.letters {
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  width: 20px;
  margin: 5px;
  border-bottom: 3px solid black;
}

#newWordBtn {
  font-size: 20px;
  margin: 15px 0 0;
  border-radius: 7px;
  padding: 5px 7px;
  transition: 0.2s;
}

#newWordBtn:hover {
  box-shadow: 0 0 5px 2px black;
}

.image {
  max-height: 45vh;
}