.Game {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

h1 {
  font-size: 40px;
  margin: 5vh 0 15px;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 22px;
}

/*PANIC BTN*/

#panicBtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

#panicBtn {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: 0.5s;
}

/*LIFE*/

#lifeBox {
  display: flex;
  align-items: center;
  margin: 10px 0 0;
}

#life {
  margin: 0;
}

/*WORD*/

#iskanaBeseda {
  margin: 13px 0 15px;
}

.lettersBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 3px 5px;
  overflow-y: auto;
}

.lettersBox::-webkit-scrollbar {
  width: 7px;
}

.lettersBox::-webkit-scrollbar-thumb {
  box-shadow: inset 2px 3px 5px 2px rgb(150, 150, 150);
  border-radius: 10px;
  background-color: rgb(100, 100, 100);
}

#defBox {
  height: 100%;
}

#wordDefinition {
  font-size: 17px;
  margin: 0;
}

.letters {
  height: 30px;
  width: 20px;
  font-size: 20px;
  font-weight: 700;
  margin: 5px;
}

#newWordBtn {
  width: max-content;
  font-size: 20px;
  margin: 15px 0 0;
  border-radius: 7px;
  padding: 5px 10px;
  transition: 0.2s;
}

#newWordBtn:hover {
  box-shadow: 0 0 5px 2px black;
}

.image {
  max-height: 45vh;
}