.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
  margin: 5vh 0 15px;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 22px;
}

#life {
  margin: 10px 0 0;
}

#wordDefinition {
  font-size: 17px;
}

.lettersBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 50px;
}

.letters {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  width: 20px;
  margin: 5px;
}

#newWordBtn {
  width: max-content;
  font-size: 20px;
  margin: 15px 0 0;
  border-radius: 7px;
  padding: 5px 10px;
  transition: 0.2s;
}

#newWordBtn:hover {
  box-shadow: 0 0 5px 2px black;
}

.image {
  max-height: 45vh;
}

