#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

#main {
    padding: 10px 15px 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.button {
    cursor: pointer;
    margin: 10px auto;
    padding: 6px 13px;
    color: black;
    font-family: Nunito;
    font-size: 19px;
    font-weight: 800;
    text-decoration: none;
    border: 0px;
    border-radius: 7px;
    background-color: ghostwhite;
    transition: 0.2s;
}

.button:hover {
    border-radius: 10px 0px 10px 0;
}

.button-subtle {
    border: 0;
    background-color: transparent;
}

.button-subtle:hover {
    -webkit-text-stroke: 0.3px black;
}

.buttonHide {
    display: none;
}

/*ANIMACIJA*/

.pull {
    animation: pull 0.5s ease-in-out;
}

@keyframes pull {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}