#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

#main {
    padding: 10px 15px 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

input {
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 5px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 5px;
    padding: 0 15px;
    outline: none;
}

input:focus {
    border: 2px solid rgb(50, 50, 50);
}

.button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: black;
    font-family: Nunito;
    font-size: 19px;
    font-weight: 800;
    text-decoration: none;
    margin: 10px auto;
    border: 0px;
    border-radius: 7px;
    padding: 6px 13px;
    background-color: ghostwhite;
    transition: 0.3s;
}

.button:hover {
    border-radius: 10px 0px 10px 0;
}

.button-subtle {
    font-size: 20px;
    border: 0;
    background-color: transparent;
}

.button-subtle:hover {
    -webkit-text-stroke: 0.3px black;
}

.buttonHide {
    display: none;
}

/*ANIMACIJA*/

.pull {
    animation: pull 0.5s ease-in-out;
}

@keyframes pull {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}