#app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

#main {
    padding: 10px 15px 10px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.button {
    display: inline-block;
    margin: 10px auto;
    padding: 6px 13px;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 6px;
    background-color: ghostwhite;
}

.button:hover {
    box-shadow: 0 0 2px 1px black;
}

.button-subtle {
    border: 0;
    background-color: transparent;
}

.button-subtle:hover {
    box-shadow: 0 0 0;
    -webkit-text-stroke: 0.3px black;
}

.buttonHide {
    display: none;
}

/*ANIMACIJA*/

.pull {
    animation: pull 0.5s ease-in-out;
}

@keyframes pull {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}