.Login {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

/*SCREEN-BLUR*/

.screen {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(150, 150, 150, 0.5);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

/*LOGIN-MENU MAIN BUTTON*/

.loginButton {
    position: absolute;
    z-index: 1;
    top: 2vh;
    right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 75px;
    width: 75px;
    border: 7px solid black;
    border-radius: 50px;
    background-color: gold;
}

.loginButton:hover {
    box-shadow: 0 0 3px gold, 0 0 5px black;
}

/*LOGIN-MENU*/

.loginMenu-box {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    width: 400px;
    border: 5px solid gold;
    border-radius: 15px;
    background-color: rgb(144, 144, 144);
}

.loginMenu {
    margin: 0 auto;
}

h4 {
    margin: 5px auto 15px;
    font-size: 27px;
}

.inputText {
    margin: 10px 0;
    font-size: 21px;
    font-weight: 500;
}

.inputField {
    display: block;
    height: 35px;
    width: 240px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
    border-radius: 5px;
}

.inputField[type="password"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.02em;
}

.eye {
    margin: 0 auto;
}

.eye:hover {
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}

/*POPUPs*/

.error {
    width: 300px;
    margin: 5px 0 15px;
    color: rgb(255, 50, 50);
    font-size: 19px;
    font-weight: 600;
    text-align: left;
    text-shadow: 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

.popUp {
    color: white;
    font-size: 19px;
    font-weight: 600;
    text-shadow: 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/*USER INFO*/
.menuInfoBox {
    margin: 5px auto 15px;
}

.menuUserInfo {
    margin: 7px auto;
    font-size: 24px;
    font-weight: 600;
}