.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    color: black;
    text-align: center;
}

/*MAIN BUTTON*/

#mainBox {
    position: absolute;
    top: 5px;
    right: 35px;
    z-index: 5;
}

#mainBox .chains {
    top: -15px;
}

.mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -19px;
    height: 80px;
    width: 80px;
    overflow: hidden;
    border: 7px solid black;
    border-radius: 50px;
    background-color: gold;
    transition: 0.3s;
    z-index: 5;
}

#navAnimation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainBtn:hover {
    box-shadow:
        0 0 5px 2px gold,
        0 0 5px 2px black;
}

#darkBtnAnimation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

#darkBtnAnimation .chains {
    top: -31px;
}

#darkBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -50px;
    height: 60px;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 3;
}

#darkBtn:hover {
    box-shadow: 0 0 15px 3px gold;
}

#darkBtnImg {
    position: absolute;
    transition: 0.3s;
    z-index: 4;
}

#lightBtnImg {
    position: relative;
    height: 97%;
}

/*SCREEN-BLUR*/

.screen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: calc(100% - 10px);
    width: 100%;
    filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    z-index: 3;
}

/*LOGIN-MENU*/

#loginMenuBox {
    padding: 20px 70px;
    width: 400px;
    min-width: 250px;
    border-radius: 15px;
    background-color: rgb(210, 210, 210);
    z-index: 3;
}

.loginMenu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h4 {
    margin: 5px auto 15px;
    font-size: 27px;
}

.inputText {
    margin: 12px 0 0;
    font-size: 21px;
}

.inputField[type="password"] {
    letter-spacing: 0.25em;
}

.eye {
    max-width: 30px;
    color: "#000000";
    font-size: 18px;
    margin: 8px auto 10px;
    transition: 0.3s;
}

.eye:hover {
    border-radius: 50%;
    box-shadow: 0 0 4px black;
}

/*POPUPs*/

.error {
    margin: 5px auto 10px;
    color: rgb(200, 0, 0);
    font-size: 20px;
    font-weight: 900;
    text-align: left;
}

.popUp {
    margin: 5px auto 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    text-align: left;
}

/*USER INFO*/
.menuInfoBox {
    font-size: 25px;
    text-align: center;
    margin: 5px 0 10px;
}

/*CHAINS*/

#chains {
    position: relative;
    max-height: 50px;
    z-index: -1;
}

/*ANIMACIJA*/

.swingNav {
    animation: swingNav 4s ease infinite;
    transform-origin: center -50px;
}

@keyframes swingNav {

    0%,
    100% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }
}