.Login {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    color: black;
    text-align: center;
}

/*SCREEN-BLUR*/

.screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(150, 150, 150, 0.5);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 0;
}

/*LOGIN-MENU MAIN BUTTON*/

#mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 30px;
    right: 35px;
    z-index: 2;
}

.mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    overflow: hidden;
    border: 7px solid black;
    border-radius: 50px;
    background-color: gold;
    transition: 0.3s;
}

.mainBtn:hover {
    box-shadow:
        0 0 3px 1px gold,
        0 0 5px 2px black;
}

#darkBtn {
    height: 60px;
    width: 60px;
    border: 5px solid black;
}

#darkBtnImg {
    position: absolute;
    max-height: 70%;
    max-width: 70%;
}

#lightBtnImg {
    position: absolute;
    max-height: 80%;
    max-width: 80%;
    transition: 0.5s;
}

/*LOGIN-MENU*/

.loginMenu-box {
    margin: 0 auto;
    padding: 20px 70px;
    width: 400px;
    max-width: 100%;
    border: 5px solid gold;
    border-radius: 15px;
    background-color: rgb(140, 140, 140);
    z-index: 1;
}

.loginMenu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h4 {
    margin: 5px auto 15px;
    font-size: 27px;
}

.inputText {
    margin: 12px 0 0;
    font-size: 21px;
    font-weight: 500;
}

.inputField {
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
    width: 100%;
    border-radius: 5px;
}

.inputField[type="password"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.02em;
}

.eye {
    margin: 0 auto 10px;
}

.eye:hover {
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}

/*POPUPs*/

.error {
    margin: 5px auto 10px;
    color: rgb(255, 50, 50);
    font-size: 19px;
    font-weight: 600;
    text-align: left;
    text-shadow: 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

.popUp {
    color: white;
    font-size: 19px;
    font-weight: 600;
    text-shadow: 0 0 3px black, 0 0 4px black, 0 0 5px black;
}

/*USER INFO*/
.menuInfoBox {
    font-size: 25px;
    font-weight: 700;
    margin: 5px auto 10px;
}