* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

a img, :link img, :visited img {
  border: 0;
}

@media only screen and (max-width: 650px) {
  #mainBox {
    right: 3%;
  }
  .accPage {
    flex-direction: column;
    justify-content: start;
    gap: 20px;
  }
  .letters {
    height: 25px;
    font-size: 16px;
    margin: 3px;
  }
  .image {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 550px) {
  .informacije {
    font-size: 20px;
  }
  .letters {
    width: 17px;
    margin: 2px;
  }
  #uporabljeno {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .informacije {
    font-size: 18px;
  }
  .menuInfoBox {
    font-size: 20px;
  }
  .letters {
    height: 24px;
    width: 14px;
    font-size: 15px;
    margin: 1px;
  }
  #uporabljeno {
    font-size: 18px;
  }
  .loginMenuBox {
    padding: 20px 50px;
  }
}